
<%- include('./partials/header.ejs') %>

<%- include('./partials/navigation.ejs') %>
       
<h1>This is Login page</h1>

<form method="post">
    <!-- <div class="from-style">
        UserName: <input type="text" name="username" id="" required placeholder="enter username">
    </div> -->
    <div class="from-style">
        Email:  <input type="text" name="email" id="" required placeholder="enter email">
    </div>
    <div class="from-style">
        password: <input type="text" name="password" id="" required placeholder="enter password">
    </div>
    <button class="btn">Submit</button>
</form>

<%- include('./partials/footer.ejs') %>