.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 20px;
    font-size: 20px;
}

.navigation li a{
    color: black;
    text-decoration: none;
}

.from-style{
    font-size: 20px;
    margin: 5px;
    padding: 7px;
}
.from-style input{
   font-size: 15px;
   padding: 6px;
   border-radius: 6px;
}
.btn{
    border-radius: 6px;
    font-size: 20px;
    background-color: rgb(85, 85, 214);
}
